body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #434455;
  background-color: #fff;
  line-height: 1.5;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* common styles */

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding: 120px 0;
}

.main-background {
  background-color: #fff;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-weight: 700;
  text-transform: uppercase;
  color: #2e2f42;
}

.text-dark {
  color: #f4f4fd;
}

.logo-brand {
  color: #4d5ae5;
}

.bg-section {
  background-color: #f4f4fd;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;

  text-transform: capitalize;
  text-align: center;

  margin-bottom: 72px;
}

.item-title {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: #2e2f42;

  margin-bottom: 8px;
}

.text {
  letter-spacing: 0.02em;
}

.centered {
  text-align: center;
}

/* common styles */

/* header */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 76px;
  padding: 24px 0;
}

.nav {
  margin-right: auto;
}

.contacts {
  font-style: normal;
}

.nav-list,
.contact-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-link {
  display: block;
  position: relative;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.active::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: "";

  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  opacity: 0;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.active::after,
.nav-link.active:after {
  opacity: 1;
}

.contact-link {
  display: block;
  letter-spacing: 0.02em;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.active,
.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

/* end header */

/* hero section */

.hero-section,
.footer {
  background-color: #2e2f42;
}

.hero-section {
  position: relative;
  padding: 188px 0;
  max-width: 1440px;
  margin: 0 auto;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-desk-min.jpg);
  background-color: #2e2f42;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-background {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 100%;
  background-color: #2e2f42;
  z-index: -1;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;

  text-align: center;

  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.hero-button {
  display: block;
  line-height: 1.5;
  background-color: #4d5ae5;
  color: #fff;
  letter-spacing: 0.04em;
  font-weight: 500;

  margin: 0 auto;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* end hero section */

/* features section */

.features-list {
  display: flex;
  gap: 24px;
}

.features-list-item {
  width: calc((100% - 72px) / 4);
}

.feature-label {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;

  height: 112px;
  margin-bottom: 8px;
}

.feature-icon {
  display: block;
  width: 64px;
  height: 64px;
}

/* team section */

.team-list {
  display: flex;
  gap: 24px;
}

.team-list-item {
  width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;

  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-text-wrapper {
  padding: 32px 16px;
}

.socials-list {
  display: flex;
  align-items: center;
  gap: 24px;

  margin-top: 8px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;

  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.social-icon {
  fill: #f4f4fd;
  width: 16px;
  height: 16px;
}

/* end team section */

/* portfolio section */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-list-item {
  width: calc((100% - 48px) / 3);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-image-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  padding: 40px 32px;

  color: #f4f4fd;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .portfolio-overlay {
  transform: translateY(0);
}

.portfolio-text-wrapper {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

/* end portfolio section */

/* footer */

.footer {
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-label-box {
  flex-shrink: 0;
  margin-right: 120px;
}

.footer-socials-box {
  flex-shrink: 0;
  margin-right: auto;
}

.footer-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;

  margin-bottom: 16px;
}

.footer-logo {
  display: block;
  margin-bottom: 16px;
}

.footer-text {
  max-width: 264px;
}

.footer-socials-list {
  gap: 16px;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-social-icon {
  width: 24px;
  height: 24px;
}

.subcribe-form {
  display: flex;
  gap: 24px;
}

.subcribe-form-input {
  display: block;
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #fff;
  outline: none;
  padding: 8px 16px;

  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subcribe-form-input::placeholder {
  color: #fff;
}

.subcribe-form-input:hover,
.subcribe-form-input:focus {
  border-color: #31d0aa;
}

.subcribe-form-button {
  padding: 8px 24px;

  display: flex;
  gap: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  border: none;
  border-radius: 4px;

  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subcribe-form-button:hover,
.subcribe-form-button:focus {
  background-color: #31d0aa;
}

.subcribe-form-button svg {
  fill: #fff;
}

/* end footer */

/* modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  background-color: rgba(46, 47, 66, 0.4);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: relative;
  width: 408px;
  padding: 24px;
  border-radius: 4px;

  background-color: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
}

.modal-button {
  margin-bottom: 24px;
  margin-left: auto;
  width: 24px;
  height: 24px;
  border: 1px solid #0000001a;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button svg {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: #404bbf;
}

.modal-button:hover svg,
.modal-button:focus svg {
  fill: #fff;
}

/* ent modal */

/* modal form */

.modal-form-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;

  margin-bottom: 16px;
}

.form-fields-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

.form-label {
  margin-bottom: 4px;

  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: #8e8f99;
}

.form-input-wrapper {
  position: relative;
}

.form-input {
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #2e2f4266;
  outline: none;
  padding: 8px 16px 8px 38px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #2e2f42;
  background-color: #fcfcfc;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-comment {
  display: block;
  padding: 8px 16px;
  height: 120px;
  resize: none;
}

.form-input-comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  color: rgba(46, 47, 66, 0.4);
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover,
.form-input:focus {
  border-color: #4d5ae5;
}

.form-input:hover + .input-icon,
.form-input:focus + .input-icon {
  fill: #4d5ae5;
}

.policy-label {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.custom-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid #2e2f4266;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox:hover + .policy-label .custom-checkbox,
.form-checkbox:focus + .policy-label .custom-checkbox {
  border-color: #404bbf;
}

.form-checkbox:checked + .policy-label .custom-checkbox {
  background-color: #404bbf;
}

.custom-checkbox-icon {
  opacity: 0;
  fill: #f4f4fd;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox:checked + .policy-label .custom-checkbox-icon {
  opacity: 1;
}

.policy-allert {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.policy-link {
  text-decoration: underline;
  color: #4d5ae5;
}

.form-button {
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  min-width: 169px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;

  background-color: #4d5ae5;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:focus {
  background-color: #404bbf;
}

/* end modal form */
