body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}



ul,ol {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

a {
    text-decoration: none;
}

.logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.footer-logo .logo-part {
    color: #f4f4fd;
}

.nav-link {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
padding: 24px 0;
display: block;

transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
    position: relative;

}

.nav-link.current::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -1px;

    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-link {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
padding: 24px 0;
display: block;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.nav-link.current {
    color: #404bbf;
}

.page-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.hero-section {
    background-color: #2e2f42;
     background-image: linear-gradient(rgba(46,47,66,0.7),
     rgba(46,47,66,0.7)), url("../images/people-office-1.jpg");
   background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
     max-width: 1440px;
    margin: 0 auto;
    padding: 188px 0;

    
}


.hero-title {
    max-width: 496px;
    margin: 0 ;
     font-family: "Roboto", sans-serif;
    margin-bottom: 48px;
     font-weight: 900;
     font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        /* text-transform: uppercase; */
        color: #ffffff;
        text-align: center;
}

.hero-button {
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
border-radius: 4px;
margin: 0;
outline: none;


}

.hero-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
   
}


.hat {
font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 56px;
line-height: 1.07143;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
}

.button-hat {
   font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
background-color: #4d5ae5;
    cursor: pointer;
padding: 16px 32px;
border-radius: 4px;
border: none;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* border: none; */
    /* border-radius: 4px; */

}

.button-hat:hover,
.button-hat:focus {

background-color: #404bbf
}

.title-people {
text-align: center;
    background-color: #f4f4fd;
}

.portfolio-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 72px;
}

.footer-list {

font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}



.title-people {
    text-align: center;
    background-color: #f4f4fd;
    margin-bottom: 72px;

}

.people-item h3 {
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}

.people-item p {
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}

.people-list {
    display: flex;
    gap: 24px;
   
}
h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.section-features h3 {
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;

}

.section-features p {
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
   

.team-section {
    background-color: #f4f4fd;
    padding: 120px 0;
}

.people-item {
   width: calc((100% - 72px) / 4);
    background-color: #fff ;
    border-radius: 0 0 4px 4px;

    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    
    
}

.portfolio-list h3 {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}

.portfolio-list p {
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}


.section {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: inset(100%);
    white-space: nowrap;
    border: 0;
}

.features-list {
    display: flex;
    gap: 24px;
}


.people-content {
   padding: 32px 16px;
   text-align: center;

}

.portfolio-section {
    padding: 120px 0;
}

.portfolio-list {
    display: flex;
   flex-wrap: wrap;
   column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
}

.section-features {
    padding: 120px 0;
}

.features-item h3 {
    margin-bottom: 8px;
}

.section-features h3 {
    margin-bottom: 8px;
}

.people-item {
    margin-bottom: 8px;
}


.portfolio-container {
    padding: 0 15px;
}


.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-text {
    max-width: 264px;
    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.portfolio-card {
    background-color: #ffffff;
     transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-text {
    padding: 32px 16px;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    border-bottom: 1px solid #e7e9fc;
    border-top: none;

}


.features-item {
    width: calc((100% - 72px) / 4);
}

.portfolio-card img {
    display: block;
    width: 100%;
    height: auto;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.people-content p,h3 {
    margin-bottom: 8px;
}

.features-icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
    border-radius: 4px;
    background-color: #f4f4fd;
}

.features-icon {
    width: 64px;
    height: 64px;
}

.team-social-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 8px;
}

.team-social-link {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
    background-color: #404bbf;
}

.team-social-icon {
    fill: #f4f4fd;
}

.portfolio-thumb {
    position: relative;
    overflow: hidden;
}

.portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: #4d5ae5;
    color : #fff;

   transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
display: flex;
align-items: flex-start;

    padding: 40px 32px;
   
}

.portfolio-item:hover .portfolio-overlay{
    transform: translateY(0);
}

.portfolio-overlay-text {
   font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
margin: 0;
}

.portfolio-overlay p {
    color: #f4f4fd;

}

.portfolio-item:hover .portfolio-card {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);

}


.footer-social-title {
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
}

.footer-social-list {
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer-social-link {
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
      display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.footer-social-icon {
    fill: #f4f4fd;
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color:  #31d0aa;
}


.footer-social-title {
    margin-bottom: 16px;
}

.footer-left {
    max-width: 264px;
}
.footer-container {
    display: flex;
    align-items: flex-start;
    gap: 80px;
    justify-content: space-between;
}

.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translatex(-50%);

  width: 408px;
  height: 584px;
  padding: 64px 24px;
  background-color:  #fcfcfc;
  border-radius: 4px;
 box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);

}

.modal-close-button {
  position: absolute;
  top: 24px;
  right: 24px;

  width: 24px;
  height: 24px;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
              border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.form-textarea {
  resize: none;
}

.form-input:focus {
  border-color: #4d5ae5;
}

.form-input:focus + .form-icon {
  fill: #4d5ae5;
}

.modal-close-button:hover,
.modal-close-button:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-button:hover .modal-close-icon,
.modal-close-button:focus .modal-close-icon {
  fill: #ffffff;
}



.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
margin-bottom: 16px;
  color: #2e2f42;
  text-align: center;

}

.modal-form {
  display: flex; 
  flex-direction: column;
}

.form-field:last-of-type {
  margin-bottom: 16px;
}

.form-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;

  margin-bottom: 4px;
}


.input-wrapper {
  position: relative;
}

.form-input {
  width: 100%;
  height: 40px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;

  padding-left: 38px;
  outline: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea {
  height: 120px;
  padding: 8px 16px;
  resize: none;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: #8e8f99;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox {
  margin-bottom: 24px;
  margin-top: 16px;
}

.checkbox-label {
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.04em;
  color: #8e8f99;
flex-wrap: nowrap;
  display: flex;
  align-items: flex-start;
}

.checkbox-custom {
  width: 16px;
  height: 16px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 8px;
  margin-top: 2px;

  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
              border 250ms cubic-bezier(0.4, 0, 0.2, 1),
              fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .checkbox-label .checkbox-custom {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.privacy-link {
  color: #4d5ae5;
  margin-left: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: underline;
    text-decoration-skip-ink: none;
 
}

.modal-submit {
  min-width: 169px;
  height: 56px;

  align-self: center;

  background-color: #4d5ae5;
  color: #ffffff;

  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit:hover,
.modal-submit:focus {
  background-color: #404bbf;
}

.form-field {
    margin-bottom: 8px;
}

.form-icon-textarea {
   top: 16px;
   transform: none;
}

.form-textarea::placeholder {
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 12px;
line-height: 1.16667;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
}

.footer-subscribe {
  margin-left: auto;
}

.footer-subscribe-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-subscribe-form {
  display: flex;
  gap: 24px;
}

.footer-subscribe-input {
  width: 264px;
  height: 40px;

  padding-left: 16px;

  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 4px;

  color: #ffffff;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.footer-subscribe-input::placeholder {
  color: #ffffff;
}

.footer-subscribe-button {
  min-width: 165px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  background-color: #4d5ae5;
  color: #ffffff;

  border: none;
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.footer-subscribe-button:hover,
.footer-subscribe-button:focus {
    background-color: #31d0aa;
}


.footer-subscribe-icon {
  fill: #ffffff;
}
.footer-subscribe-input:hover,
.footer-subscribe-input:focus  {
  border-color: #31d0aa;
}