:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}

body {
  background-color: var(--white);
  color: var(--slate);
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
button {
  font-family: inherit;
  line-height: inherit;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 120px 0;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 72px;
}

.section-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.social-links {
  display: flex;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  fill: var(--cloud);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/************ HEADER ************/

.header {
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: inline-block;
  padding: 24px 0px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--navy-blue);
}

.header-logo .logo-accent {
  color: var(--iris);
}

.nav {
  display: flex;
  gap: 76px;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  display: inline-block;
  padding: 24px 0px;
  font-weight: 500;
  color: var(--navy-blue);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-active {
  color: var(--ocean);
  position: relative;
}

.nav-active::after {
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--ocean);
  position: absolute;
  bottom: -1px;
}

.contacts {
  font-style: normal;
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.contacts-link {
  display: inline-block;
  padding: 24px 0px;
  color: var(--slate);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--ocean);
}

/************ HERO SECTION ************/

.hero {
  padding: 188px 0;
  max-width: 1440px;
  margin: 0 auto;
  background-color: var(--navy-blue);
  background-image: linear-gradient(to bottom, var(--grey), var(--grey)),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: var(--white);
  max-width: 496px;
  margin: 0 auto 48px;
}

.hero-button {
  display: block;
  margin: 0 auto;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: var(--iris);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--ocean);
}

/************ FEATURES SECTION ************/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  width: calc((100% - 72px) / 4);
}

.features-icon-box {
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 112px;
  background-color: var(--cloud);
  border: 1px solid var(--light-slate);
  border-radius: 4px;
}

.features-icon {
  --color1: var(--navy-blue);
  --color2: var(--iris);
}

/************ TEAM SECTION ************/

.team {
  background-color: var(--cloud);
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-card {
  background-color: var(--white);
  width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  overflow: hidden;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-links {
  justify-content: center;
  gap: 24px;
}

.team-link:hover,
.team-link:focus {
  background-color: var(--ocean);
}

.team-img {
  width: 100%;
  aspect-ratio: 264 / 260;
  object-fit: cover;
}

.team-info {
  padding: 32px 16px;
}

.team-name {
  text-align: center;
}

.team-position {
  text-align: center;
  margin-bottom: 8px;
}

/************ PORTFOLIO SECTION ************/

.portfolio-list {
  display: flex;
  gap: 48px 24px;
  flex-wrap: wrap;
}

.portfolio-card {
  width: calc((100% - 48px) / 3);
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-img-box {
  position: relative;
  width: 100%;
  aspect-ratio: 360 / 300;
  overflow: hidden;
}

.portfolio-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  background-color: var(--iris);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-description {
  color: var(--cloud);
}

.portfolio-card:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-card:hover .portfolio-overlay {
  transform: translateY(0);
}

.portfolio-info {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}

/************ FOOTER ************/

.footer {
  background-color: var(--navy-blue);
  padding: 100px 0;
}

.footer-inner {
  display: flex;
  align-items: baseline;
}

.footer-info {
  max-width: 264px;
  margin-right: 120px;
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--cloud);
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo .logo-accent {
  color: var(--iris);
}

.footer-text {
  color: var(--cloud);
}

.footer-social {
  margin-right: 80px;
}

.footer-label {
  font-weight: 500;
  color: var(--white);
  margin-bottom: 16px;
}

.footer-links {
  gap: 16px;
}

.footer-link:hover,
.footer-link:focus {
  background-color: var(--green);
}

.footer-subscribe {
  max-width: 453px;
  width: 100%;
}

.footer-form {
  display: flex;
  align-items: center;
  gap: 24px;
}
.footer-input {
  flex-grow: 1;
  padding: 8px 16px;
  background-color: transparent;
  border: 1px solid var(--white);
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input::placeholder {
  color: var(--white);
}

.footer-input:hover,
.footer-input:focus {
  outline: none;
  border-color: var(--green);
}

.footer-button {
  flex-shrink: 0;
  display: flex;
  gap: 16px;
  align-items: center;
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  background-color: var(--iris);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button:hover,
.footer-button:focus {
  background-color: var(--green);
}

.footer-form-icon {
  fill: var(--white);
}

/************ MODAL ************/

.modal-overlay {
  background-color: var(--navy-blue-modal);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  padding: 24px;
  border-radius: 4px;
  width: 100%;
  max-width: 408px;
  max-height: 95%;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--dairy);
  overflow-y: auto;
}
.modal-close-btn {
  margin-left: auto;
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-icon-cross {
  fill: var(--navy-blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--ocean);
  border-color: var(--ocean);
}

.modal-close-btn:hover .modal-icon-cross,
.modal-close-btn:focus .modal-icon-cross {
  fill: var(--white);
}

.modal-text {
  margin-bottom: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
}

.modal-label {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.modal-label-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}

.modal-input-wrapper {
  position: relative;
}

.modal-input {
  padding: 7.2px 16px 7.2px 38px;
  width: 100%;
  border: 1px solid var(--navy-blue-modal);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: var(--navy-blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover,
.modal-input:focus {
  border-color: var(--iris);
}

.modal-input-wrapper:focus-within .modal-input-icon {
  fill: var(--iris);
}

.modal-label-textarea {
  margin-bottom: 16px;
}

.modal-textarea {
  padding: 8px 16px;
  width: 100%;
  min-height: 120px;
  border: 1px solid var(--navy-blue-modal);
  border-radius: 4px;
  outline: none;
  resize: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-textarea:hover,
.modal-textarea:focus {
  border-color: var(--iris);
}
.modal-textarea::placeholder {
  color: var(--navy-blue-modal);
}

.modal-label-checkbox {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 24px;
}

.modal-checkbox-input {
  position: absolute;
  opacity: 0;
}

.modal-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid var(--navy-blue-modal);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox-icon {
  fill: var(--cloud);
  opacity: 0;
  transform: translateX(0.5px);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox-input:checked + .modal-checkbox {
  background-color: var(--ocean);
  border-color: var(--ocean);
}

.modal-checkbox-input:checked + .modal-checkbox .modal-checkbox-icon {
  opacity: 1;
}

.modal-checkbox-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}
.modal-policy {
  line-height: 1.33;
  text-decoration: underline;
  color: var(--iris);
}
.modal-send-btn {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: var(--iris);
  cursor: pointer;

  font-weight: 500;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--white);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-send-btn:hover,
.modal-send-btn:focus {
  background-color: var(--ocean);
}
